<%= nested_form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </div>
  <div class="field">
    <label>Select Topic:</label><br>
    <%= f.collection_select :topic_id, Topic.all, :id, :name, prompt: "Select topic" %>
  </div>
  <div class="field">
    <label>Select Chapter:</label><br>
    <%= f.collection_select :chapter_id, Chapter.all, :id, :name, prompt: "Select chapter" %>
  </div>
  <div class="field">
    <%= f.label :question_type_id %><br>
    <%= f.collection_select :question_type_id, QuestionType.all, :id, :name, prompt: "Select question type" %>
  </div>

  <%= f.fields_for :options, @option do |option_form| %>
    <%= option_form.text_area :statement %><br/>
    <%= option_form.radio_button :is_answer, true %>True
    <%= option_form.radio_button :is_answer, false %>False<br/>
    <%= option_form.link_to_remove "Remove this option" %><br/>
  <% end %>
  <%= f.link_to_add "Add option", :options %>
  <br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
