<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Statement</th>
      <th>Chapter</th>
      <th>Topic</th>
      <th>Question type</th>
      <th>Correct option</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.statement %></td>
        <td><%= question.chapter.name %></td>
        <td><%= question.topic.try(:name) %></td>
        <td><%= question.question_type.name %></td>
        <td><%= question.options.find_by(question_id: question.id).try(:statement) %></td>
        <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class: "ui primary button" %><br/><br/>
