<p id="notice"><%= notice %></p>

<div class="ui segment">
  <p>
    <strong>Code:</strong>
    <%= @question.try(:code) %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @question.try(:title) %>
  </p>

  <p>
    <strong>Statement:</strong>
    <%= @question.formatted_statement %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= @question.try(:difficulty_level) %>
  </p>  

  <p>
    <strong>Chapter:</strong>
    <%= @question.chapter.name %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= @question.topic.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= @question.kind %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= @question.question_type.try(:name) %>
  </p>

  <% if @question.question_type.name == "MCQ" %>
    <p><strong>Options</strong>
      <% @options.each do |option| %>
      	<ul><li><font><%= option.statement.html_safe %></li></ul>
      <% end %>
    </p>
  <% end %>

  <p>
    <strong>Solutions:</strong><br/><br/>
    <% @question.solutions.each_with_index do |solution, index| %>
      <b><%= "Solution" %> <%= index + 1 %></b><br/>
      <%= solution.body.html_safe %><br/><br/>
    <% end %>
  </p>

  <p>
    <strong> Video Links </strong><br/><br/>
    <div class="ui grid">
      <% @question.videos.each do |video| %>
        <div class="five wide column">
          <iframe allowfullscreen="allowfullscreen" id="player" type="text/html" width="320" height="180" src= <%= video.youtube_url %> frameborder="0"></iframe>
        </div>
      <% end %>
    </div>
  </p>

  <%= link_to 'Edit', edit_question_path(@question), class: "ui button" %>
  <%= link_to 'Back', questions_path, class: "ui black button" %><br/><br/>
  <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
</div>