<p id="notice"><%= notice %></p>

<div class="ui segment">
  <p>
    <strong>Statement:</strong>
    <%= @question.statement.html_safe %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <%= @question.chapter.name %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= @question.topic.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= @question.kind %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= @question.question_type.try(:name) %>
  </p>

  <p><strong>Options</strong>
    <% @options.each do |option| %>
    	<ul><li><%= option.statement.html_safe %></li></ul>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_question_path(@question), class: "ui button" %>
  <%= link_to 'Back', questions_path, class: "ui black button" %><br/><br/>
  <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
</div>