<p id="notice"><%= notice %></p>

<h1>Listing Holidays</h1>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.start_date %></td>
        <td><%= holiday.end_date %></td>
        <td><%= link_to 'Show', holiday %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday', new_holiday_path, class: "ui primary button" %>
