<p id="notice"><%= notice %></p>

<div class="ui segment">

	<p>
	  <strong>Start date:</strong>
	  <%= @holiday.start_date %>
	</p>

	<p>
	  <strong>End date:</strong>
	  <%= @holiday.end_date %>
	</p>

	<%= link_to 'Edit', edit_holiday_path(@holiday), class: "ui button" %>
	<%= link_to 'Back', holidays_path, class: "ui black button" %><br/><br/>
	<%= link_to 'Destroy', @holiday, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>

</div>