<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <b>Avatar:</b><br/>
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar_url, class: "ui medium rounded image" %>
    <% else %>
      <img src="/pic.jpg " class="ui medium rounded image" >
    <% end %>
  </div><br/>

  <div class="field">
    <b>Change Avatar:</b> 
    <%= f.file_field :avatar %><br/><br/>
  </div>

  <div class="field">
    <b><%= f.label :name %></b><br />
    <div class="ui input"><%= f.text_field :name, autofocus: true %></div>
  </div>

  <div class="field">
    <b><%= f.label :email %></b><br />
    <div class="ui input"><%= f.email_field :email %></div>
  </div>

  <div class="field">
    <b><%= f.label :mobile %></b><br />
    <div class="ui input"><%= f.text_field :mobile %></div>
  </div>

  <div class="field">
    <b><%= f.label :dob %></b><br />
    <div class="ui input"><%= f.date_field :dob %></div>
  </div>
  <br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <b><label>New Password</label></b> <i>(<%= @minimum_password_length %> characters minimum. Leave blank if you don't want to change it)</i><br />
    <div class="ui input"><%= f.password_field :password, autocomplete: "off" %></div>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <b><label>New Password Confirmation</label></b><br />
    <div class="ui input"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>
  <br/>
  <div class="field">
    <b><%= f.label :current_password %></b> <i>(we need your current password to confirm your <b>new password</b> changes)</i><br />
    <div class="ui input"><%= f.password_field :current_password, autocomplete: "off" %></div>
  </div><br/>

  <div class="actions">
    <%= f.submit "Update", class: "ui primary button" %><br/><br/>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p><b>Unhappy?</b> <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui red button" %></p>
 -->
<%= link_to "Back", :back, class: "ui black button" %>
<br/><br/>
