<%= nested_form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <div class="ui input"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <div class="ui input"><%= f.text_field :email %></div>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <div class="ui input"><%= f.text_field :mobile %></div>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
     <%= f.radio_button :gender, "Male" %>Male<br/>
    <%= f.radio_button :gender, "Female" %>Female<br/>
  </div>

  <div class="field">
    <%= f.label :dob %><br>
    <div class="ui input"><%= f.date_select :dob, options = {start_year: Date.today.year-100} %></div>
  </div>

  <div class="field">
    <%= f.collection_select :batch_ids, Batch.all, :id, :title, {prompt: "Select Student"}, {class: "ui fluid search dropdown", multiple: ""} %>
  </div>

  <div class="actions">
    <%= f.submit class: "ui primary button" %><br/><br/>
  </div>
<% end %>
