<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>
<h3>Students count: <%= @students.count %></h3>
<%= link_to 'New Student', new_student_path, class: "ui primary button" %><br/><br/>

<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Is Active</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.mobile %></td>
        <td><%= student.is_active %></td>
        <td><%= link_to 'Show', student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

