<p id="notice"><%= notice %></p>
<div class="ui segment">
	<p>
	  <strong>Name:</strong>
	  <%= @student.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @student.email %>
	</p>

	<p>
		<strong>Difficulty Level:</strong>
		<%= @student.try(:difficulty_level) %>
	</p>

	<p>
	  <strong>Mobile:</strong>
	  <%= @student.mobile %>
	</p>

	<p>
	  <strong>Gender:</strong>
	  <%= @student.gender %>
	</p>

	<p>
	  <strong>DOB:</strong>
	  <%= @student.dob %>
	</p>

	<p>
		<strong>Is Active: </strong>
		<%= @student.is_active %>
	</p>

	<%= link_to 'Edit', edit_student_path(@student), class: "ui button" %>
	<%= link_to 'Back', students_path, class: "ui black button" %><br/><br/>
	<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
</div>