<p id="notice"><%= notice %></p>

<h1>Listing Appreciations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appreciations.each do |appreciation| %>
      <tr>
        <td><%= appreciation.title %></td>
        <td><%= appreciation.answer_id %></td>
        <td><%= link_to 'Show', appreciation %></td>
        <td><%= link_to 'Edit', edit_appreciation_path(appreciation) %></td>
        <td><%= link_to 'Destroy', appreciation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appreciation', new_appreciation_path %>
