<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @appreciation.title %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @appreciation.answer_id %>
</p>

<%= link_to 'Edit', edit_appreciation_path(@appreciation) %> |
<%= link_to 'Back', appreciations_path %>
