<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
	<strong>Course:</strong>
	<% @topic.courses.each do |course| %>
		<%= course.name %>,
	<% end %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic), class: "ui button" %>
<%= link_to 'Back', topics_path, class: "ui black button" %><br/><br/>
<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>