
<h2>Student's Answers</h2>

<% if @batch_set.kind == "assessment" %>
  <h3>MCQ</h3>
  <% @batch_set.question_sets.each do |question_set| %>
    <% question_set.question_ids.each do |question_id| %>
      <% if Question.where(id: question_id).exists? %>
        <% question = Question.find(question_id) %>
        <% if question.question_type.name == "MCQ" %>
          <h4><%= question.formatted_statement %></h4>
          <%= "Options:" %>
          <% question.options.each do |option| %>
            <%= option.statement.html_safe %>,
          <% end %><br/>
          <%= "Correct Answer:" %>
          <%= question.options.find_by(is_answer: true).statement.html_safe %>
          <table class="ui celled padded table">
            <thead>
              <tr>
                <th>Students</th>
                <th>Answers</th>  
                <th>Correct?</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <% question.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
                <% if answer.is_correct == "wrong" %>
                  <tr class="negative">
                <% elsif answer.is_correct == "correct" %>
                  <tr class="positive">
                <% end %>
                <td><%= answer.user.try(:name) %></td>
                <td><%= answer.formatted_statement %></td>
                <td>
                  <% if answer.is_correct == "correct" %>
                    <i class="checkmark icon"></i>
                  <% elsif answer.is_correct == "wrong" %>
                    <i class="remove icon"></i>
                  <% end %>    
                </td>
                <td><%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <h3>Text Based Questions</h3>
  <% @batch_set.question_sets.each do |question_set| %>
    <% question_set.question_ids.each do |question_id| %>
      <% if Question.where(id: question_set.question_ids.first).exists? %>
        <% question = Question.find(question_id) %>
        <% if question.question_type.name == "Text" %>
          <h4><%= question.formatted_statement %></h4>
          <table class="ui celled padded table">
            <thead>
              <tr>
                <th>Students</th>
                <th>Answers</th>
                <th>Feedbacks</th>
                <th>Remarks</th>
              </tr>
            </thead>

            <tbody>
              <% question.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
                <% if answer.is_correct == "wrong" %>
                  <tr class="negative">
                <% elsif answer.is_correct == "correct" %>
                  <tr class="positive">
                <% else %>
                  <tr>
                <% end %>
                  <td><%= answer.user.try(:name) %></td>
                  <td>
                    <%= answer.formatted_statement %>
                    <%= form_for answer do |ans| %>
                      <%= ans.radio_button :is_correct, "correct" %>Correct<br/>
                      <%= ans.radio_button :is_correct, "partially_correct" %>Partially Correct<br/>
                      <%= ans.radio_button :is_correct, "wrong" %>Wrong<br/>
                      <%= ans.submit %>
                    <% end %><br/>
                    <%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
                  </td>
                  <td>
                  
                    <div class="new_comment">
                      <div class="ui comments">
                        <% answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
                          <div class="comment">
                            <a class="avatar">
                              <% if comment.user.avatar.present? %>
                                <%= image_tag comment.user.avatar_url, {class: "avatar"} %>
                              <% else %>
                                <div class="ui avatar image">
                                  <img src="/pic.jpg">
                                </div>
                              <% end %>
                            <div class="content">
                              <a class="author"><%= comment.user.try(:name) %></a>
                               <!-- <div class="metadata">
                                <div class="date">distance</div>
                                <div class="rating">
                                  <i class="star icon"></i> 
                                  <%#= answer.remark.try(:title) %>
                                </div>
                              </div> -->
                              <div class="text">
                                <%= comment.statement.html_safe %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <%= form_for (@comment) do |f| %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :answer_id, value: answer.id %>
                      <%= f.text_area :statement, class: "textEditor" %>
                      <%= f.submit %>
                    <% end %>
                  </td>


                  <td>
                    <%= answer.remark.try(:title) %>
                    <%= form_for (answer) do |f| %>
                      <%= f.collection_select :remark_id, Remark.all, :id, :title, prompt: "Select a remark" %>
                      <%= f.submit %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<%# end %>
<% elsif @batch_set.kind == "assignment" %>



<% end %>

