<h2>Student's Answers</h2>

<!-- PRACTICE THIS. DISPLAY THE TABLE BELOW USING arrange_questions METHOD. -->
<%# @batch_set.arrange_questions.each do |key, questions| %>
  <%# questions.each do |question| %>
    <%# question.statement.html_safe %>
  <%# end %>
<%# end %>

<% if @batch_set.kind == "assessment" %>
  <h3>MCQ</h3>
  <% @batch_set.questions.where("question_type_id = ? AND kind = ?", QuestionType.find_by(name: "MCQ"), "assessment").each do |bsq| %>
    <h4><%= bsq.statement.html_safe %></h4>
    <%= "Options:" %>
    <% bsq.options.each do |option| %>
      <%= option.statement.html_safe %>,
    <% end %><br/>
    <%= "Correct Answer:" %>
    <%= bsq.options.find_by(is_answer: true).statement.html_safe %> 
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Students</th>
          <th>Answers</th>  
          <th>Correct?</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% bsq.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
          <% if bsq.options.find_by(is_answer: true).statement.html_safe != answer.statement.html_safe %>
            <tr class="negative">
          <% else %>
            <tr class="positive">
          <% end %>
          <td><%= answer.user.student.name %></td>
          <td><%= answer.statement.html_safe %></td>
          <td>
            <% if bsq.options.find_by(is_answer: true).statement.html_safe == answer.statement.html_safe %>
              <i class="checkmark icon"></i>
            <% else %>
              <i class="remove icon"></i>
            <% end %>    
          </td>
          <td><%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h3>Text Based Questions</h3>
  <% @batch_set.questions.where('question_type_id = ? AND kind = ?', QuestionType.find_by(name: "Text"), "assessment").each do |bsq| %>
    <h4><%= bsq.statement.html_safe %></h4>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>Students</th>
          <th>Answers</th>
          <th>Feedbacks</th>
          <th>Remarks</th>
        </tr>
      </thead>

      <tbody>
        <% bsq.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
          <tr>
            <td><%= answer.user.student.name %></td>
            <td><%= answer.statement.html_safe %></td>
            <td>
              <div class="ui comments">
                <% answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
                  <div class="comment">
                    <a class="avatar">
                      <%= image_tag comment.user.avatar_url %>
                    </a>
                    <div class="content">
                      <a class="author"><%= comment.user.name %></a>
          <!--             <div class="metadata">
                        <div class="date">distance</div>
                        <div class="rating">
                          <i class="star icon"></i>
                          <%#= answer.remark.try(:title) %>
                        </div>
                      </div> -->
                      <div class="text">
                        <%= comment.statement.html_safe %>
                      </div>
                    </div>
                  </div><br/>
                <% end %>
              </div>
            </td>
            <td><%= answer.remark.try(:title) %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %></td>
            <td>
              <%= form_for (@comment) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :answer_id, value: answer.id %>
                <%= f.text_area :statement, class: "textEditor" %>
                <%= f.submit %>
              <% end %>
            </td>
            <td>
            <%= form_for (answer) do |f| %>
              <%= f.collection_select :remark_id, Remark.all, :id, :title, prompt: "Select a remark" %>
              <%= f.submit %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% elsif @batch_set.kind == "assignment" %>

<!--   <h3>Assignment:</h3>
  <%# @batch_set.questions.where("kind = ?", "assignment").each do |question| %>
    <h4><%#= question.statement.html_safe %></h4>
    <%# question.answers.where("batch_set_id = ?", @batch_set.id).each do |answer| %>
      <b><%#= answer.user.student.name %><br/></b>
      <%#= answer.statement.html_safe %>
      <%# if answer.comments.exists? %>
        <div class="ui comments">
          <%# answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar/small/stevie.jpg">
              </a>
              <div class="content">
                <a class="author"><%#= comment.user.name %></a>
                <div class="metadata">
                  <div class="date">distance</div>
                  <div class="rating">
                    <i class="star icon"></i>
                    <%#= answer.remark.try(:title) %>
                  </div>
                </div>
                <div class="text">
                  <%# if comment.user.role == "admin" && !answer.remark.nil? %>
                    <%#= "Remark: " %><%#= answer.remark.title %><br/>
                  <%# end %>
                  <%#= comment.statement.html_safe %>
                </div>
              </div>
            </div>
          <%# end %>
        </div>
        <%#= form_for (@comment) do |f| %>
          <%#= f.hidden_field :user_id, value: current_user.id %>
          <%#= f.hidden_field :answer_id, value: answer.id %>
          <div class="ui input"><%#= f.text_field :statement %></div>
          <%#= f.submit class: "ui primary button" %>
        <%# end %>
      <%# end %>
    <%# end %>
  <%# end %> -->


  <div class="ui styled accordion">
    <% i = 1 %>
    <% @batch_set.questions.where("kind = ?", "assignment").each do |question| %>
      <div class="title">
        <i class="dropdown icon"></i>
        Question <%= i %> 
      </div>
      <div class="content">
        <%= question.statement.html_safe %>
        <div class="accordion transition hidden">
          <% question.answers.where("batch_set_id = ?", @batch_set.id).each do |answer| %>
            <div class="title">
              <i class="dropdown icon"></i>
              <%= answer.user.student.name %><br/>
            </div>
            <div class="content">
              <p class="transition hidden">
                <%= answer.statement.html_safe %>
                <% if !answer.remark.nil? %>
                  <b>Remark:</b>
                  <%= answer.remark.title %>
                <% end %><br/><br/>
                <% if answer.comments.exists? %>
                  <b>Feedbacks:</b><br/>
                  <% answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
                    <b><%= comment.user.name %></b>:
                    <%= comment.statement.html_safe %><br/>
                  <% end %><br/>
                <% end %>
                <%= form_for (@comment) do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :answer_id, value: answer.id %>
                  <%= f.text_area :statement, class: "textEditor" %>
                  <%= f.submit class: "ui primary button" %>
                <% end %><br/>
                <%= form_for (answer) do |f| %>
                  <%= f.collection_select :remark_id, Remark.all, :id, :title, prompt: "Select a remark" %>
                  <%= f.submit 'Add Remark', class: "ui primary button" %>
                <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <% i = i + 1 %>
    <% end %>
  </div>


<% end %>