<h2>Student's Answers</h2>

<% if @batch_set.kind == "assessment" %>
  <h3>MCQ</h3>
  <% @batch_set.question_sets.each do |question_set| %>
    <% question_set.question_ids.each do |question_id| %>
      <% if Question.where(id: question_id).exists? %>
        <% question = Question.find(question_id) %>
        <% if question.question_type.name == "MCQ" %>
          <h4><%= question.formatted_statement %></h4>
          <%= "Options:" %>
          <% question.options.each do |option| %>
            <%= option.statement.html_safe %>,
          <% end %><br/>
          <%= "Correct Answer:" %>
          <%= question.options.find_by(is_answer: true).statement.html_safe %>
          <table class="ui celled padded table">
            <thead>
              <tr>
                <th>Students</th>
                <th>Answers</th>  
                <th>Correct?</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <% question.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
                <% if answer.score == 0.0 %>
                  <tr class="negative">
                <% elsif answer.score == 1.0 %>
                  <tr class="positive">
                <% end %>
                <td>
                  <%= answer.user.try(:name) %><br/>
                  <font color="grey"><%= distance_of_time_in_words(Time.now, answer.created_at) %> ago</font>  
                </td>
                <td><%= answer.formatted_statement %></td>
                <td>
                  <% if answer.is_correct == "correct" %>
                    <i class="checkmark icon"></i>
                  <% elsif answer.is_correct == "wrong" %>
                    <i class="remove icon"></i>
                  <% end %>    
                </td>
                <td><%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <h3>Text Based Questions</h3>
  <% @batch_set.question_sets.each do |question_set| %>
    <% question_set.question_ids.each do |question_id| %>
      <% if Question.where(id: question_set.question_ids.first).exists? %>
        <% question = Question.find(question_id) %>
        <% if question.question_type.name == "Text" %>
          <h4><%= question.formatted_statement %></h4>
          <table class="ui celled padded table">
            <thead>
              <tr>
                <th>Students</th>
                <th>Answers</th>
                <th>Feedbacks</th>
                <th>Remarks/Score</th>
              </tr>
            </thead>

            <tbody>
              <% question.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
                <% if answer.is_correct == "wrong" %>
                  <tr class="negative">
                <% elsif answer.is_correct == "correct" %>
                  <tr class="positive">
                <% else %>
                  <tr>
                <% end %>
                  <td>
                    <%= answer.user.try(:name) %><br/><br/>
                    <font color="grey"><%= distance_of_time_in_words(Time.now, answer.created_at) %> ago</font>
                  </td>
                  <td>
                    <%= answer.formatted_statement %><br/><br/>
                    <%= form_for @solution, remote: true do |f| %>
                      <%= f.hidden_field :chapter_id, value: question.chapter_id %>
                      <%= f.hidden_field :topic_id, value: question.topic_id %>
                      <%= f.hidden_field :user_id, value: answer.user_id %>
                      <%= f.hidden_field :question_id, value: question.id %>
                      <%= f.hidden_field :body, value: answer.statement %>
                      <%= f.submit class: "ui primary button" %>
                    <% end %><br/>
                    <%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
                  </td>
                  <td>
                    <div id="comments_for_<%= answer.id %>">
                      <span id="comment_span"></span>
                      <div class="ui comments">
                        <% answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
                          <div class="comment">
                            <a class="avatar">
                              <% if comment.user.avatar.present? %>
                                <%= image_tag comment.user.avatar_url, {class: "avatar"} %>
                              <% else %>
                                <div class="ui avatar image">
                                  <img src="/pic.jpg">
                                </div>
                              <% end %>
                            </a>
                            <div class="content">
                              <a class="author"><%= comment.user.try(:name) %></a>
                               <!-- <div class="metadata">
                                <div class="date">distance</div>
                                <div class="rating">
                                  <i class="star icon"></i> 
                                  <%#= answer.remark.try(:title) %>
                                </div>
                              </div> -->
                              <div class="text">
                                <%= comment.statement.html_safe %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <a class="add_comment">Add Comment</a>
                    <div class="showComment">
                      <%= form_for (@comment), html: {id: "new_comment_#{answer.id}"} do |f| %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :answer_id, value: answer.id %>
                        <%= f.text_area :statement, class: "textEditor" %>
                        <%= f.submit id: "create_comment" %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <b><%= "Score:" if answer.score.present? %></b> <%= answer.try(:score) %>
                    <%= form_for answer, remote: true do |ans| %>

<!-- <div class="ui radio checkbox">
  <%#= ans.radio_button :score, 0.0, class: "hidden" %>
  <label for="answer_score_00">Bad (0)</label>
</div><br/>
<div class="ui radio checkbox">
  <%#= ans.radio_button :score, 0.25, class: "hidden" %>
  <label for="answer_score_025">Average (0.25)</label>
</div><br/>
<div class="ui radio checkbox">
  <%#= ans.radio_button :score, 0.5, class: "hidden" %>
  <label for="answer_score_05">Satisfactory (0.5)</label>
</div><br/>
<div class="ui radio checkbox">
  <%#= ans.radio_button :score, 0.75, class: "hidden" %>
  <label for="answer_score_075">Good (0.75)</label>
</div><br/>
<div class="ui radio checkbox">
  <%#= ans.radio_button :score, 1.0, class: "hidden" %>
  <label for="answer_score_10">Excellent (1.0)</label>
</div><br/> -->

                      <%= ans.radio_button :score, 0.0 %>Bad (0)<br/>
                      <%= ans.radio_button :score, 0.25 %>Average (0.25)<br/>
                      <%= ans.radio_button :score, 0.5 %>Satisfactory (0.5)<br/>
                      <%= ans.radio_button :score, 0.75 %>Good (0.75)<br/>
                      <%= ans.radio_button :score, 1.0 %>Very Good (1.0)<br/>
                    <% end %><br/>
                    <%= answer.remark.try(:title) %><br/>
                    <%= form_for (answer) do |f| %>
                      <%= f.collection_select :remark_id, Remark.all, :id, :title, prompt: "Select a remark" %>
                      <%= f.submit %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<%# end %>
<% elsif @batch_set.kind == "assignment" %>

  <% @batch_set.question_sets.each do |question_set| %>
    <div class="ui styled accordion">
      <% question_set.question_ids.each_with_index do |question_id, index| %>
        <% if Question.where(id: question_set.question_ids.first).exists? %>
          <% question = Question.find(question_id) %>
          <div class="title">
            <i class="dropdown icon"></i>
            <% if question.title.nil? %>
              <%= "QUESTION" %> <%= index + 1  %>
            <% else %>
              <%= question.title %>
            <% end %>
          </div>
          <div class="content">
            <%= question.formatted_statement %>
            <div class="accordion transition hidden">
              <% question.answers.where('batch_set_id = ?', @batch_set.id).each do |answer| %>
                <div class="title">
                    <i class="dropdown icon"></i>
                    <%= answer.user.name %>
                    (<%= distance_of_time_in_words(Time.now, answer.created_at) %> ago)
                </div>
                <div class="content">
                  <p class="transition hidden">
                    <%= answer.formatted_statement %><br/><br/>
                    <b><%= "Score:" if answer.score.present? %></b> <%= answer.try(:score) %>
                    <%= form_for answer, remote: true do |ans| %>
                      <%= ans.radio_button :score, 0.0 %>Bad (0)<br/>
                      <%= ans.radio_button :score, 0.25 %>Average (0.25)<br/>
                      <%= ans.radio_button :score, 0.5 %>Satisfactory (0.5)<br/>
                      <%= ans.radio_button :score, 0.75 %>Good (0.75)<br/>
                      <%= ans.radio_button :score, 1.0 %>Very Good (1.0)<br/>
                      <%= ans.submit %>
                    <% end %><br/>
                    <%= form_for @solution, remote: true do |f| %>
                      <%= f.hidden_field :chapter_id, value: question.chapter_id %>
                      <%= f.hidden_field :topic_id, value: question.topic_id %>
                      <%= f.hidden_field :user_id, value: answer.user_id %>
                      <%= f.hidden_field :question_id, value: question.id %>
                      <%= f.hidden_field :body, value: answer.statement %>
                      <%= f.submit class: "ui primary button new_solution" %>
                    <% end %><br/>
                    <%= link_to 'Delete Answer', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
                    <div class="ui divider"></div>
                    <div id="comments_for_<%= answer.id %>">
                      <span id="comment_span"></span>
                      <div class="ui comments">
                        <% answer.comments.where('answer_id = ?', answer.id).each do |comment| %>
                          <div class="comment">
                            <a class="avatar">
                              <% if comment.user.avatar.present? %>
                                <%= image_tag comment.user.avatar_url, {class: "avatar"} %>
                              <% else %>
                                <div class="ui avatar image">
                                  <img src="/pic.jpg">
                                </div>
                              <% end %>
                            </a>
                            <div class="content">
                              <a class="author"><%= comment.user.try(:name) %></a>
                               <!-- <div class="metadata">
                                <div class="date">distance</div>
                                <div class="rating">
                                  <i class="star icon"></i> 
                                  <%#= answer.remark.try(:title) %>
                                </div>
                              </div> -->
                              <div class="text">
                                <%= comment.statement.html_safe %>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <a class="add_comment">Add Comment</a>
                    <div class="showComment">
                      <%= form_for (@comment), html: {id: "new_comment_#{answer.id}"} do |f| %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :answer_id, value: answer.id %>
                        <%= f.text_area :statement, class: "textEditor" %>
                        <%= f.submit id: "create_comment" %>
                      <% end %>
                    </div><br/><br/>
                    <b>Remarks:</b> <%= answer.remark.try(:title) %><br/>
                    <%= form_for (answer) do |f| %>
                      <%= f.collection_select :remark_id, Remark.all, :id, :title, prompt: "Select a remark" %>
                      <%= f.submit %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>

