<%= nested_form_for [@batch, @batch_set] do |f| %>
  <% if @batch_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch_set.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @batch_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <div class="ui input"><%= f.text_field :title %></div>
  </div>

  <div class="field">
    <%= f.label :set_date %><br>
    <%= f.date_select :set_date %>
  </div>

  <div class="field">
    <%= f.label :kind %><br>
    <%= f.radio_button :kind, "assessment" %>Assessment<br/>
    <%= f.radio_button :kind, "assignment" %>Assignment<br/>
  </div>

  <%= f.hidden_field :batch_id, value: @batch.id %>
  <br/>

  <%= f.fields_for :batch_set_chapter_topics, @batch_set_chapter_topic do |b| %>
    Select Topic<br/>
    <%= b.collection_select :topic_id, Topic.all, :id, :name, {prompt: "Select topic"}, {class: "ui search dropdown"} %><br/><br/>
    Select Chapter<br/>
    <%= b.collection_select :chapter_id, Chapter.all, :id, :name, {prompt: "Select Chapter"}, {class: "ui search dropdown"} %><br/>
    <%= b.link_to_remove "Delete Topic and Chapter" %><br/><br/><br/>
  <% end %>
  <%= f.link_to_add "Add Topic and Chapter", :batch_set_chapter_topics %>
  <br/><br/>

  <%= f.fields_for :due_date_lists, @due_date_list do |a| %>
    Add Due Date<br/>
    <%= a.hidden_field :batch_set_id, value: @batch_set.id %>
    <%= a.datetime_select :due_date_time %><br/><br/>
    <label>Add Users</label>
    <%= a.collection_select :user_ids, User.all, :id, :name, {prompt: "Select User"}, {class: "ui fluid search dropdown", multiple: ""} %>
<!--     <div id="studentList">
    <%#= a.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
      <%#= b.label %> <%#= b.check_box %><br/>
    <%# end %>
    </div> -->
    <%= a.link_to_remove "Delete Due Date List" %><br/><br/><br/>
  <% end %>
  <%= f.link_to_add "Add Due Date List", :due_date_lists %>
  <br/><br/>

  <div class="actions">
    <%= f.submit class: "ui primary button" %><br/><br/>
  </div>

<% end %>

<script type="text/javascript">
  var topicHandle = document.getElementById('batch_set_batch_set_chapter_topics_attributes_0_topic_id');
  var chapterHandle = document.getElementById('batch_set_batch_set_chapter_topics_attributes_0_chapter_id');

  topicHandle.onchange = function(){
    chapterHandle.innerHTML = "";
    var request = new XMLHttpRequest();
    request.open('GET', '/batch_sets/select_chapters.json?topic_id=' + topicHandle.value);
    request.onreadystatechange = function(){
      if(request.readyState === 4 && request.status === 200){
        var response = JSON.parse(request.responseText);
        response.forEach(function(chapter){
          var newElement = document.createElement('option');
          newElement.value = chapter.id;
          var newText = document.createTextNode(chapter.name);
          newElement.appendChild(newText);
          chapterHandle.appendChild(newElement);
        });
      }
    }
    request.send();
  };
</script>