<% if current_user.is_admin? %>

  <%= nested_form_for(@batch_set) do |f| %> 
    <h1>Editing Batch Set</h1>
    <% if @batch_set.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@batch_set.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @batch_set.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <div class="ui input"><%= f.text_field :title %></div>
    </div>
    <div class="field">
      <%= f.label :set_date %><br>
      <%= f.date_select :set_date %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.datetime_select :due_date %>
    </div>
    <div class="field">
      <%= f.label :kind %><br>
      <%= f.radio_button :kind, "assessment" %>Assessment<br/>
      <%= f.radio_button :kind, "assignment" %>Assignment<br/>
    </div>
    <%= f.hidden_field :batch_id, value: @batch.id %>
    <br/>

    <%= f.fields_for :batch_set_chapter_topics, @batch_set_chapter_topic do |b| %>
      Select Topic<br/>
      <%= b.collection_select :topic_id, Topic.all, :id, :name, {prompt: "Select topic"}, {class: "ui search dropdown"} %><br/>
      Select Chapter<br/>
      <%= b.collection_select :chapter_id, Chapter.all, :id, :name, {prompt: "Select Chapter"}, {class: "ui search dropdown"} %><br/>
      <%= b.link_to_remove "Delete Topic and Chapter" %><br/><br/>
    <% end %>
    <%= f.link_to_add "Add Topic and Chapter", :batch_set_chapter_topics %>
    <br/><br/><br/>

    <b>Select Questions:</b><br/>
    <table class="ui celled padded table">
      <thead>
        <tr>
          <th>All Questions</th>
          <th>Yet to be asked</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% all_questions = [] %>
            <% asked_questions = [] %>
            <% not_asked_questions = [] %>

            <!-- ALL QUESTIONS -->
            <% @batch_set.batch_set_chapter_topics.each do |bsct| %>
              <% Question.where('chapter_id = ? AND topic_id = ? AND kind = ?', bsct.chapter_id, bsct.topic_id, @batch_set.kind).each do |question| %>
                <% all_questions.push(question) %>
              <% end %>
            <% end %>

            <!-- ASKED QUESTIONS -->
            <% @batch_set.questions.each do |question| %>
              <% asked_questions.push(question) %>
            <% end %>

            <!-- Not Asked -->
            <% not_asked_questions = all_questions - asked_questions %>

            <!-- DISPLAYING ALL QUESTIONS -->
            <%= f.collection_check_boxes :question_ids, all_questions, :id, :formatted_statement do |f| %>
              <%= f.label %>
              <%= f.check_box %>
            <% end %>
          </td>
          <td>
            <%= f.collection_check_boxes :question_ids, not_asked_questions, :id, :formatted_statement do |f| %>
              <%= f.label %>
              <%= f.check_box %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <br/>
    <div class="actions">
      <%= f.submit class: "ui primary button"%><br/><br/>
    </div>
  <% end %>
  <%= link_to 'Back', batch_batch_set_path(@batch, @batch_set), class: "ui black button" %>

  <br/><br/>

<% else %>

  <%= "Seems like you missed answering some question(s). Please go back and answer all the questions." %>

<% end %>