<p id="notice"><%= notice %></p>

<h1>Listing Batch Sets</h1>

<table>
  <thead>
    <tr>
      <th>Set date</th>
      <th>Batch</th>
      <th>Title</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @batch_sets.each do |batch_set| %>
      <tr>
        <td><%= batch_set.title %></td>
        <td><%= batch_set.set_date %></td>
        <td><%= batch_set.batch.title %></td>
        <td><%= link_to 'Show', batch_set %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch set', new_batch_set_path %>
