<p id="notice"><%= notice %></p>

<h1>Listing Batch Sets</h1>

<table>
  <thead>
    <tr>
      <th>Set date</th>
      <th>Batch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batch_sets.each do |batch_set| %>
      <tr>
        <td><%= batch_set.set_date %></td>
        <td><%= batch_set.batch.title %></td>
        <td><%= link_to 'Show', batch_set %></td>
        <td><%= link_to 'Edit', edit_batch_set_path(batch_set) %></td>
        <td><%= link_to 'Destroy', batch_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch set', new_batch_set_path %>
