<p id="notice"><%= notice %></p>

<div class="ui segment">
  <p>
    <strong>Title:</strong>
    <%= @batch_set.title %>
  </p>

  <p>
    <strong>Set date:</strong>
    <%= @batch_set.set_date %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= @batch_set.batch.title %>
  </p>

  <% if current_user.try(:is_admin?) %>
    <%= link_to 'Edit', edit_batch_batch_set_path(@batch, @batch_set), class: "ui button" %>
  <% elsif current_user.try(:is_student?) %>
    <%= link_to 'Questions', edit_batch_batch_set_path(@batch, @batch_set), class: "ui orange button" %>
  <% end %>
  <%= link_to 'Back', @batch, class: "ui black button" %>

  <% if current_user.try(:is_student?) %>
    <h3>Your answers</h3>

    <% @batch_set.batch_set_questions.each do |bsq| %>
      <% bsq.question.answers.where('user_id = ? AND question_id = ?', current_user.id, bsq.question.id).each do |answer| %>
        <b><%= bsq.question.statement %></b><br/>
        <%= answer.statement %><br/>
        <% if bsq.question.question_type_id == 1 %>
          <% if bsq.question.options.find_by(is_answer: true).statement == answer.statement %>
            <i class="checkmark icon"></i><font color="green"><%= "Correct answer" %></font>
          <% else %>
            <i class="remove icon"></i><font color="red"><%= "Wrong answer" %></font><br/>
            <font color="green"><%= bsq.question.options.find_by(is_answer: true).statement %></font><%= " is the correct answer" %>
          <% end %><br/><br/>
        <% end %><br/>
      <% end %>
    <% end %>

  <% elsif current_user.try(:is_admin?) %>
    <h3>Student's Answers</h3>

    <% @batch_set.batch_set_questions.each do |bsq| %>
      <% bsq.question.answers.each do |answer| %>
        <b><%= answer.user.student.name %></b><br/>
        <%= bsq.question.statement %><br/>
        <%= answer.statement %><br/>
        <% if bsq.question.question_type_id == 1 %>
          <% if bsq.question.options.find_by(is_answer: true).statement == answer.statement %>
            <i class="checkmark icon"></i><font color="green"><%= "Correct answer" %></font>
          <% else %>
            <i class="remove icon"></i><font color="red"><%= "Wrong answer" %></font><br/>
            <font color="green"><%= bsq.question.options.find_by(is_answer: true).statement %></font><%= " is the correct answer" %>
          <% end %><br/><br/>
        <% end %>
      <% end %>
    <% end %><br/>
  <% end %>
</div>