<p id="notice"><%= notice %></p>

<div class="ui segment">

  <h3><%= @batch_set.title %></h3>

  <p><strong>Batch:</strong>
  <%= @batch_set.batch.title %></p>

  <p><strong>Due Date:</strong>
  <%= @batch_set.due_date %></p>

  <p><strong>Due Time:</strong>
  <%#= @batch_set.due_date.strftime("%I:%M %p") %></p>

  <% if current_user.is_admin? %>
    <p><strong>Set Date:</strong>
    <%= @batch_set.set_date %></p>

    <p><strong>Kind:</strong>
    <%= @batch_set.kind %></p>
  
    <!-- <p><strong>Students who haven't submitted the answers: </strong>
      <%#  %></p> -->
  <% end %>

  <%= link_to 'Back', @batch, class: "ui black button" %><br/><br/>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_batch_batch_set_path(@batch, @batch_set), class: "ui button" %>
    <%= link_to 'Delete Batch Set', @batch_batch_set, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
  <% end %>

  <% if current_user.is_student? %>

    <%= render "student_answers" %>

  <% elsif current_user.is_admin? %>

    <%= render "admin_answers" %>

  <% end %>

</div>