<p id="notice"><%= notice %></p>
<% if current_user.is_admin? %>
<h1>Listing Users</h1>
<h3>Total number of users: <%= @users.count %></h3>
<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Active</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.student.try(:name) %></td>
        <td><%= user.student.try(:email) %></td>
        <td><%= user.student.try(:mobile) %></td>
        <td><%= user.is_active %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "ui primary button" %><br/><br/>
<% else %>
You think you're too smart? Think again.
<% end %>