<p id="notice"><%= notice %></p>

<p>
	<strong>Avatar:</strong>
	<% unless @user.avatar_url.nil? %>
		<%#= image_tag @user.avatar_url(:standard) %><br/>
	<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.student.try(:name) %>
</p>

<p>
	<strong>Email</strong>
	<%= @user.email %>
</p>

<p>
	<strong>Mobile:</strong>
	<%= @user.student.try(:mobile) %>
</p>

<% if @user.role == "student" %>
	<p>
		<strong>Batches:</strong>
		<%# @user.student.batches.each do |batch| %>
			<%#= batch.title %><br/>
			<strong>Start Date</strong>
			<%#= batch.start_date %><br/>
			<strong>End Date</strong>
			<%#= batch.end_date %>
		<%# end %>
	</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user), class: "ui button" %>
<%= link_to 'Back', users_path, class: "ui black button" %><br/><br/>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>