<p id="notice"><%= notice %></p>

<p>
	<strong>Avatar:</strong>
	<% if @user.avatar.present? %>
		<br/><%= image_tag @user.avatar_url(:standard) %><br/>
	<% else %>
		<%= "This user has not uploaded an avatar yet." %>
	<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.student.try(:name) %>
</p>

<p>
	<strong>Email</strong>
	<%= @user.email %>
</p>

<p>
	<strong>Mobile:</strong>
	<%= @user.student.try(:mobile) %>
</p>

<%# if @user.role == "student" %>
	<p>
		<strong>Batches:</strong><br/>
		<% @user.student.batches.each do |batch| %>
			<b>Batch Name</b>
			<%= batch.title %><br/>
			<b>Start Date:</b>
			<%= batch.start_date %><br/>
			<b>End Date:</b>
			<%= batch.end_date %><br/><br/>
		<% end %>
	</p>
<%# end %>

<%= link_to 'Edit', edit_user_path(@user), class: "ui button" %>
<%= link_to 'Back', users_path, class: "ui black button" %><br/><br/>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>