<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @batch_set.batch_set_questions.each do |bsq| %>
    <% if !(bsq.question.answers.where('user_id = ? AND question_id = ?', current_user.id, bsq.question.id)).exists? %>
      <br/><%= bsq.question.statement %><br/>
      <%= f.hidden_field :question_id, value: bsq.question.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :batch_set_id, value: @batch_set %>
      <% if bsq.question.question_type_id == 1 %>
        <% bsq.question.options.each do |option| %>
          <%= f.radio_button :statement, option.statement %><%= option.statement %><br/>
        <% end %>
      <% else %>
        <%= f.text_field :statement %><br/><br/>
      <% end %>
    <% end %>
  <% end %> 

  <br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 

<br/>

<% if current_user.try(:is_student?) %>
  <h3>Your answers</h3>

  <% @batch_set.batch_set_questions.each do |bsq| %>
    <% bsq.question.answers.where('user_id = ? AND question_id = ?', current_user.id, bsq.question.id).each do |answer| %>
      <%= bsq.question.statement %><br/>
      <%= answer.statement %><br/>
      <% if bsq.question.question_type_id == 1 %>
        <% if bsq.question.options.find_by(is_answer: true).statement == answer.statement %>
          <%= "Correct answer" %>
        <% else %>
          <%= "Wrong answer" %>
        <% end %><br/><br/>
      <% end %><br/>
    <% end %>
  <% end %>

<% elsif current_user.try(:is_admin?) %>
  <h3>Student's Answers</h3>

  <% @batch_set.batch_set_questions.each do |bsq| %>
    <% bsq.question.answers.each do |answer| %>
      <%= answer.user.student.name %><br/>
      <%= bsq.question.statement %><br/>
      <%= answer.statement %><br/><br/>
    <% end %>
  <% end %><br/>
<% end %>