
<h2> listing published Knowledge</h2>

<script>
  $(document).ready(function(){
    $('#knowledgebasesTable').DataTable();
});

</script>



<% if @knowledge_published.empty? %>
  <p>no knowledges found </p>
  <%= link_to "ADD knowledge", new_knowledge_basis_path %>
  <% else %>
   <table id = "knowledgebasesTable">
    <thead>
      <tr>
     <th> sl no</th>
     <th>title</th>
     <th>body</th>
     <th> topic</th>
     <th> chapter</th>
     <th> link</th>
   </tr>
  </thead>

   <tbody>
  <% @knowledge_published.each_with_index do |knowledge, index| %>
  <tr>
      <td> <%= index + 1 %></td>
      <td> <%= knowledge.title %></td>
      <td> <%= knowledge.body %></td>
      <td> <%= knowledge.topic.name %> </td>
      <td> <%= knowledge.chapter.name %> </td>
      <td> <%= link_to "#{knowledge.title}", knowledge.links, {target: "_blank"} %> </td>
     </tr>
    <%end %>
   </tbody>
  </table>
  <%= link_to "Add Knowledge", new_knowledge_basis_path %>
<% end %>

<% if current_user.is_admin? %>

<h2> listing unpublished Knowledge </h2>

<script>
  $(document).ready(function(){
    $('#knowledgebasesTable1').DataTable();
});

</script>

<% if @knowledge_published.empty? %>
  <p>no knowledges found </p>
  <%= link_to "ADD knowledge", new_knowledge_basis_path %>
  <% else %>

<table id = "knowledgebasesTable1">
    <thead>
      <tr>
     <th> sl no</th>
     <th>title</th>
     <th>body</th>
     <th> topic</th>
     <th> chapter</th>
     <th> link</th>
   </tr>
  </thead>

   <tbody>
  <% @knowledge_unpublished.each_with_index do |knowledge, index| %>
  <tr>
      <td> <%= index + 1 %></td>
      <td> <%= knowledge.title %></td>
      <td> <%= knowledge.body %></td>
      <td> <%= knowledge.topic.name %> </td>
      <td> <%= knowledge.chapter.name %> </td>
      <td> <%= link_to "#{knowledge.title}",knowledge.links%> </td>
     </tr>
    <%end %>
   </tbody>
  </table>
<% end %>
<%end%>






 