<% if current_user.is_admin? %>
  <%= link_to "Add Article", new_knowledge_basis_path, class: "ui primary button" %><br/>
  <h2>Published Articles</h2>

  <% if @knowledge_published.empty? %>
    <p>No articles found.</p>
  <% else %>
    <table class = "ui celled padded table dataTable">
      <thead>
        <tr>
          <th>Sl no</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Chapter</th>
          <th>Link</th>
          <% if current_user.is_admin?%>
            <th>Unpublish</th>
          <%end%>
        </tr>
      </thead>

      <tbody>
        <% @knowledge_published.each_with_index do |knowledge, index| %>
          <tr>
            <td> <%= index + 1 %></td>
            <td> <%= link_to knowledge.title,knowledge_basis_path(knowledge) %></td>
            <td> <%= link_to knowledge.topic.name,knowledge_bases_topic_articles_path(:topic_id => knowledge.topic_id) %> </td>
            <td> <%= link_to knowledge.chapter.name,knowledge_bases_chapter_articles_path(:chapter_id => knowledge.chapter_id) %> </td>
            <td> <%= link_to "Visit Site", "http://#{knowledge.links}", {target: "_blank"} %> </td>
            <% if current_user.is_admin? %>
              <td> <%= form_for knowledge do |f| %>
                <%= f.hidden_field :published, value: false %>
                <%= f.submit "unpublish", class: "ui red button" %>
              <% end %> </td> 
            <% end %>
          </tr>
        <%end %>
      </tbody>
    </table>
  <% end %>

  <h2> Unpublished Article </h2>

  <% if @knowledge_unpublished.empty? %>
    <p>no knowledges found </p>
  <% else %>

    <table class = "ui celled padded table dataTable">
      <thead>
        <tr>
          <th>Sl no</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Chapter</th>
          <th>Link</th>
          <th>Publish</th>  
        </tr>
      </thead>
       
      <tbody>
        <% @knowledge_unpublished.each_with_index do |knowledge, index| %>
          <tr>
            <td> <%= index + 1 %></td>
            <td> <%= link_to knowledge.title, knowledge_basis_path(knowledge) %></td>
            <td> <%= link_to knowledge.topic.name, knowledge_bases_topic_articles_path(:topic_id => knowledge.topic_id) %></td>
            <td> <%= link_to knowledge.chapter.name, knowledge_bases_chapter_articles_path(:chapter_id => knowledge.chapter_id) %></td>
            <td> <%= link_to "Visit Site", "http://#{knowledge.links}", {target: "_blank"} %></td>
            <td> 
              <%= form_for knowledge do |f| %>
                <%= f.hidden_field :published, value: true %>
                <%= f.submit "publish", class: "ui primary button" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% end %>

<% elsif current_user.role == "student" %>
  
  <h2> Published Articles</h2>
  <% if @user_knowledge.empty? %>
    <p>no knowledges found </p>
    <%= link_to "Add Article", new_knowledge_basis_path %>
  <% else %>
    <table class = "ui celled padded table" id ="knowledgebasesTable">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Title</th>
          <th>Topic</th>
          <th>Chapter</th>
          <th>Link</th>
        </tr>
      </thead>

      <tbody>
        <% @user_knowledge.each_with_index do |knowledge, index| %>
          <tr>
            <td> <%= index + 1 %></td>
            <td> <%= link_to knowledge.title,knowledge_basis_path(knowledge) %></td>
            <td> <%= link_to knowledge.topic.name,knowledge_bases_topic_articles_path(:topic_id => knowledge.topic_id) %> </td>
            <td> <%= link_to knowledge.chapter.name,knowledge_bases_chapter_articles_path(:chapter_id => knowledge.chapter_id) %> </td>
            <td> <%= link_to "Visit Site", "http://#{knowledge.links}", {target: "_blank"} %> </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% end %>

<% end %>
<br/><br/>