<h2> My articles </h2>
<script>
  $(document).ready(function(){
    $('#knowledgebasesTable').DataTable();
});

</script>
	<table class = "ui celled padded table" id ="knowledgebasesTable">
    <thead>
      <tr>
     <th> Sl no</th>
     <th>Title</th>
     <th> Topic</th>
     <th> Chapter</th>
     <th> Link</th>
     <th> Status </th>
   </tr>
  </thead>

   <tbody>
  <% @knowledges.each_with_index do |knowledge, index| %>
  <tr>
      <td> <%= index + 1 %></td>
      <td> <%= link_to knowledge.title,knowledge_basis_path(knowledge) %></td>
      <td> <%= link_to knowledge.topic.name,knowledge_bases_topic_articles_path(:topic_id => knowledge.topic_id) %> </td>
      <td> <%= link_to knowledge.chapter.name,knowledge_bases_chapter_articles_path(:chapter_id => knowledge.chapter_id) %> </td>
      <td> <%= link_to "Visit Site", "http://#{knowledge.links}", {target: "_blank"} %> </td>
      <td> <% if knowledge.published == true %>
            <%= "published" %>
          <%else%>
          <%= "unpublished" %>
          <%end%>

       </td>
      
     </tr>
     <%end%>
   </tbody>
  </table>


  <%= link_to 'Back', knowledge_bases_path,class: "ui black button" %> 


