<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <div class="ui input"><%= f.text_field :title %></div>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </div>
<!--   <select class="ui dropdown">
    <option value="">Gender</option>
    <option value="1">Male</option>
    <option value="0">Female</option>
  </select> -->
   <div class="field">
    <label>Select Students</label><br>
    <%= f.collection_check_boxes :student_ids, Student.all, :id, :name do |b| %>
      <%= b.check_box class: "ui checkbox" %>
      <%= b.label %><br/>
    <% end %>
  </div> 
  <div class="actions">
    <%= f.submit class: "ui primary button" %>
  </div>
<% end %>
