<p id="notice"><%= notice %></p>

<% if current_user.is_admin? %>

  <div class="ui grid">
    <div class="two wide column">
      <%= link_to 'New Batch', new_batch_path, class: "ui primary button" %>
    </div>
    <div class="two wide column">
      <%= link_to 'Add Event', new_event_path, class: "ui primary button" %>
    </div>
  </div>

  <h3>On Going Batches</h3>

  <table class="ui celled padded table dataTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Course</th>
        <th>Show</th>
      </tr>
    </thead>

    <tbody>
      <% @on_going_batches.each do |batch| %>
        <tr>
          <td><%= batch.title %></td>
          <td><%= batch.start_date %></td>
          <td><%= batch.end_date %></td>
          <td><%= batch.course.name %></td>
          <td><%= link_to 'Show', batch %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Completed Batches</h3>

  <table class="ui celled padded table dataTable">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Course</th>
        <th>Show</th>
      </tr>
    </thead>

    <tbody>
      <% @completed_batches.each do |batch| %>
        <tr>
          <td><%= batch.title %></td>
          <td><%= batch.start_date %></td>
          <td><%= batch.end_date %></td>
          <td><%= batch.course.name %></td>
          <td><%= link_to 'Show', batch %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/><br/>

<% else %>
  
  <h3>Your Batches</h3>

  <table class="ui celled padded table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Course</th>
        <th>Show</th>
      </tr>
    </thead>

    <tbody>
      <% @batches.each do |batch| %>
        <tr>
          <td><%= batch.title %></td>
          <td><%= batch.start_date %></td>
          <td><%= batch.end_date %></td>
          <td><%= batch.course.name %></td>
          <td><%= link_to 'Show', batch %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 

<% end %>

<br/><br/>