<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @batch.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @batch.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @batch.course.name %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %> |
<%= link_to "Add Batch Set", new_batch_batch_set_path(@batch) %> 

<br/><br/>

<% @batch_sets.each do |batch_set| %>
  <%#= link_to b.title, batches_batch_questions_path(:batches => @batch.id) %>
  <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id) %>
<% end %>
