<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @batch.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @batch.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @batch.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @batch.course.name %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>

<br/><br/>

<!--<h2>Create a new Batch Set</h2>
<%#= nested_form_for(@batch) do |f| %>
<%#= f.fields_for :batch_sets, @batch_set do |batch_set| %>
    <%#= batch_set.date_select :set_date %><br/>
    <%#= batch_set.hidden_field :batch_id, value: @batch.id %><br/>
	<%#= batch_set.submit "Remove this option" %><br/>
<%# end %>
<%#= f.link_to_add "Add option", :options %>
<%#= f.submit %>
<%# end %> -->

<br/><br/>