<p id="notice"><%= notice %></p>


<div class="ui segment">
  
  <div class="ui grid">

  <div class="ten wide column">
  <p>
    <strong>Title:</strong>
    <%= @batch.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @batch.start_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @batch.end_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @batch.course.name %>
  </p>

  <% if current_user.is_admin? %>

    <p>
      <strong>Total number of students: </strong>
      <%= @batch.students.count %>
    </p>

    <p>
      <strong>Completed? </strong>
      <%= @batch.complete %>
    </p>

    <p>
      <strong>List of students in this batch: </strong><br/>
      <% @batch_students.each do |student| %>
        <% if student.user.avatar.present? %>
          <%= link_to image_tag(student.user.avatar_url, {class: "ui avatar image"}), batches_student_path(:batch => @batch.id, :student => student.id) %>
        <% else %>
          <div class="ui avatar image">
            <a href="<%= batches_student_path(:batch => @batch.id, :student => student.id) %>"><img src="/pic.jpg"></a>
            <%= student.name.split(" ")[0] %>
          </div>
        <% end %>
      <% end %>
      <br>
    </p>

    <!-- <p>
      <strong>Students yet to submit:</strong>

      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Latest 10 batch sets</a>
        <a class="item" data-tab="second">Rest of the batch sets</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="first">
        <%# @batch.batch_sets.order('due_date DESC').where('due_date < ?', Date.today).first(10).each do |batch_set| %>
          <div class="ui card">
            <div class="content">
              <div class="header"><b><%#= batch_set.title %></b></div>
                <div class="meta">2 days ago</div>
              <div class="description">
                <p>
                  <b>Due On: </b><%#= batch_set.due_date.strftime("%d %b %Y, %I:%M %p") %><br/>
                  <b>Students: </b>
                  <%# @batch.students.each do |student| %>
                    <%# if !student.user.answers.where('batch_set_id = ?', batch_set.id).exists? %>
                      <%#= student.name %>,
                    <%# end %>
                  <%# end %>
                </p>
              </div>
            </div>
          </div>
        <%# end %>
      </div> 
      <div class="ui bottom attached tab segment" data-tab="second">
        <%# rest_of_the_batch = @batch.batch_sets.order('due_date DESC').where('due_date < ?', Date.today) - @batch.batch_sets.order('due_date DESC').where('due_date < ?', Date.today).first(10) %>
        <%# rest_of_the_batch.each do |batch_set| %>

          <div class="ui card">
            <div class="content">
              <div class="header"><b><%#= batch_set.title %></b></div>
              <div class="meta">2 days ago</div>
              <div class="description">
                <p>
                  <b>Due On: </b><%#= batch_set.due_date.strftime("%d %b %Y, %I:%M %p") %><br/>
                  <b>Students: </b>
                  <%# @batch.students.each do |student| %>
                    <%# if !student.user.answers.where('batch_set_id = ?', batch_set.id).exists? %>
                      <%#= student.name %>,
                    <%# end %>
                  <%# end %>
                </p>
              </div>
            </div>
          </div>
        <%# end %>
      </div>

      <%# if @batch.batch_sets.where('due_date < ?', Date.today).exists? %>

      <%# else %>
        <%#= "All students have submitted all assignments." %>
      <%# end %>
    </p> -->

  <% end %>

  <% if current_user.try(:is_admin?) %>
    <%= link_to 'Edit', edit_batch_path(@batch), class: "ui button" %>
    <%= link_to "Add Batch Set", new_batch_batch_set_path(@batch), class: "ui primary button" %> 
  <% end %>

  <h4>Assessments</h4>
  <% @batch_sets.where('kind = ?', "assessment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %><br/>

  <h4>Programming Assignments</h4>
  <% @batch_sets.where('kind = ?', "assignment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %>
  <br/><br/>

  <%= link_to 'Back', batches_path, class: "ui black button" %><br/><br/>
  <% if current_user.is_admin? %>
    <%= link_to 'Delete Batch', @batch, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
  <% end %>

  </div>
    <div class="six wide column">
      <div id='calendar'><%= render 'calendar' %></div><br/>
    </div>
  </div>

</div>