<p id="notice"><%= notice %></p>

<%#= render 'calendar' %>

<div id='calendar'></div>

<div class="ui segment">
  <p>
    <strong>Title:</strong>
    <%= @batch.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @batch.start_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @batch.end_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @batch.course.name %>
  </p>

  <% if current_user.is_admin? %>

    <p>
      <strong>Total number of students: </strong>
      <%= @batch.students.count %>
    </p>

    <p>
      <strong>Completed? </strong>
      <%= @batch.complete %>
    </p>

    <p>
      <strong>List of students in this batch: </strong><br/>
      <% @batch.students.each do |student| %>
        <%= link_to student.user.avatar_url.present? ? image_tag(student.user.avatar_url(:thumbnail)) : student.name, batches_student_path(:batch => @batch.id, :student => student.id) %>,
      <% end %>
    </p>

    <div class="ui card">
      <div class="content">
        <div class="header">Students yet to submit:</div>
        <!-- <div class="meta">2 days ago</div> -->
        <div class="description">
          <p>
            <% if @batch.batch_sets.where('due_date < ?', Date.today).exists? %>
              <% @batch.batch_sets.where('due_date < ?', Date.today).each do |batch_set| %>
                <br/><b><%= batch_set.title %>:</b>
                <% @batch.students.each do |student| %>
                  <% if !student.user.answers.where('batch_set_id = ?', batch_set.id).exists? %>
                    <%= student.name %>,
                  <% end %>
                <% end %><br/>
              <% end %>
            <% else %>
              <%= "All students have submitted all assignments." %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="header">Students already submitted:</div>
        <!-- <div class="meta">2 days ago</div> -->
        <div class="description">
          <p>
            <% if @batch.batch_sets.where('due_date < ?', Date.today).exists? %>
              <% @batch.batch_sets.where('due_date < ?', Date.today).each do |batch_set| %>
                <br/><b><%= batch_set.title %>:</b>
                <% @batch.students.each do |student| %>
                  <% if student.user.answers.where('batch_set_id = ?', batch_set.id).exists? %>
                    <%= student.name %>,
                  <% end %>
                <% end %><br/>
              <% end %>
            <% else %>
              <%= "All students have submitted all assignments." %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  <% end %>

  <% if current_user.try(:is_admin?) %>
    <%= link_to 'Edit', edit_batch_path(@batch), class: "ui button" %>
    <%= link_to "Add Batch Set", new_batch_batch_set_path(@batch), class: "ui primary button" %> 
  <% end %>

  <h4>Assessments</h4>
  <% @batch_sets.where('kind = ?', "assessment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %><br/>

  <h4>Programming Assignments</h4>
  <% @batch_sets.where('kind = ?', "assignment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %>
  <br/><br/>

  <%= link_to 'Back', batches_path, class: "ui black button" %><br/><br/>
  <% if current_user.is_admin? %>
    <%= link_to 'Delete Batch', @batch, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
  <% end %>

</div>

