<p id="notice"><%= notice %></p>

<div class="ui segment">
  <p>
    <strong>Title:</strong>
    <%= @batch.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @batch.start_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @batch.end_date.strftime("%d-%b-%Y") %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= @batch.course.name %>
  </p>

  <% if current_user.is_admin? %>

    <p>
      <strong>Total number of students: </strong>
      <%= @batch.students.count %>
    </p>

    <p>
      <strong>Completed? </strong>
      <%= @batch.complete %>
    </p>

    <p>
      <strong>List of students in this batch: </strong>
      <% @batch.students.each do |student| %>
        <%= link_to student.name, batches_student_path(:batch => @batch.id, :student => student.id) %>,
      <% end %>
    </p>

  <% end %>

  <% if current_user.try(:is_admin?) %>
    <%= link_to 'Edit', edit_batch_path(@batch), class: "ui button" %>
    <%= link_to "Add Batch Set", new_batch_batch_set_path(@batch), class: "ui primary button" %> 
  <% end %>

  <h4>Assessments</h4>
  <% @batch_sets.where('kind = ?', "assessment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %><br/>

  <h4>Programming Assignments</h4>
  <% @batch_sets.where('kind = ?', "assignment").each do |batch_set| %>
    <%= link_to batch_set.title, batch_batch_set_path(@batch.id, batch_set.id), class: "ui orange button" %>
  <% end %>
  <br/><br/>

  <%= link_to 'Back', batches_path, class: "ui black button" %><br/><br/> 
  <%= link_to 'Delete Batch', @batch, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>

</div>

