<p id="notice"><%= notice %></p>

<div class="ui segment">
	<p>
	  <strong>Name:</strong>
	  <%= @chapter.name %>
	</p>

	<p>
		<strong>Topics:</strong>
		<% @chapter.topics.each do |topic| %>
			<%= topic.name %>,
		<% end %>
	</p>

	<%= link_to 'Edit', edit_chapter_path(@chapter), class: "ui button" %>
	<%= link_to 'Back', chapters_path, class: "ui black button" %><br/><br/>
	<%= link_to 'Destroy', @chapter, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %>
</div>