<!DOCTYPE html>
<html>
<head>
  <title>DctAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to("Students", students_path) %>
  <%= link_to("Roles", roles_path) %>
  <%= link_to("Courses", courses_path) %>
  <%= link_to("Topics", topics_path) %>
  <%= link_to("Chapters", chapters_path) %>
  <%= link_to("Batches", batches_path) %>
  <%= link_to("Batch Set", batch_sets_path) %>
  <%= link_to("Questions", questions_path) %>
  <%= link_to("Question Types", question_types_path) %>

  <% if user_signed_in? %>
  	<%= link_to("Logout", destroy_user_session_path, method: :delete) %>
  <% else %>
  	<%= link_to("Login", new_user_session_path) %>
  <% end %>

  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
