<!DOCTYPE html>
<html>
  <head>

    <title><%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


    <!-- DATA TABLES -->
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<!--     <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css"> -->
    <script>
      $(document).ready(function(){
        $('.dataTable').DataTable({           // $('.dataTableTable') == document.getElementById('dataTableTable');
          "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'
        });
      });
    </script>
    
    <!-- DATE PICKER -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
      $(document).ready(function(){
        $(".date").datepicker({
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,
          minDate: 0
        });
        $(".full_date").datepicker({
          dateFormat: 'yy-mm-dd',
          changeMonth: true,
          changeYear: true,
          yearRange: "1970:Date.today"
        });
      });
    </script>

    <!-- DATE TIME PICKER -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/jquery.datetimepicker.css"/ >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
    <script>  
      $(document).ready(function(){
        $('.datetimepicker').datetimepicker();
      });
    </script>

    <!-- CALENDER -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet"> 

    <!-- CKEDITOR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/ckeditor.js"></script>
    <script>
    $(document).ready(function(){
        CKEDITOR.replaceAll( 'textEditor' );
    });
    </script>

    <!-- semantic ui -->
    <script>
      $(document).ready(function(){
        $('.ui.dropdown').dropdown();
        $('.ui.popup').popup();
        $('.tabular.menu .item').tab();
        $('#context1 .menu .item').tab({context: $('#context1')});
        $('.ui.accordion').accordion();
      });
    </script>
    
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">
    <script src="https://semantic-ui.com/dist/semantic.min.js"></script>

  </head>
    
  <div class="ui container">
    <body>
      <div class="ui secondary pointing menu">
        <% if user_signed_in? %>
          <% if current_user.is_admin? %>
            <%= link_to("Users", users_path, class: controller.controller_name == "users" ? "active item" : "item") %>
            <%= link_to("Students", students_path, class: controller.controller_name == "students" ? "active item" : "item") %>
            <%= link_to("Courses", courses_path, class: controller.controller_name == "courses" ? "active item" : "item") %>
            <%= link_to("Topics", topics_path, class: controller.controller_name == "topics" ? "active item" : "item") %>
            <%= link_to("Chapters", chapters_path, class: controller.controller_name == "chapters" ? "active item" : "item") %>
            <%= link_to("Batches", batches_path, class: controller.controller_name == "batches" ? "active item" : "item") %>
            <%= link_to("Questions", questions_path, class: controller.controller_name == "questions" ? "active item" : "item") %>
          <% elsif current_user.is_student? %>
            <%= link_to("Batches", batches_path, class: controller.controller_name == "batches" ? "active item" : "item") %>
          <% end %>

          <div class="ui dropdown item">
            Knowledge Base
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item"><%= link_to("All Articles", knowledge_bases_path, {class: controller.controller_name == "knowledge_bases" && controller.action_name == "index" ? "active item" : "item"}) %></div>
              <div class="item"><%= link_to("Liked", knowledge_bases_liked_articles_path, {class: controller.action_name == "liked_articles" ? "active item" : "item"}) %></div>
              <% if current_user.is_admin? %>
                <div class="item"><%= link_to("My Articles", knowledge_bases_my_articles_path, {class: controller.action_name == "my_articles" ? "active item" : "item"}) %></div>
                <div class="item"><%= link_to("New Article", new_knowledge_basis_path, {class: controller.controller_name == "knowledge_bases" && controller.action_name == "new" ? "active item" : "item"}) %></div>
              <% end %>
            </div>
          </div>

          <% if current_user.is_admin? %>
            <div class="ui dropdown item">
              More
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item"><%= link_to("Question Types", question_types_path, {class: controller.controller_name == "question_types" ? "active item" : "item"}) %></div>
                <div class="item"><%= link_to("Event Types", event_types_path, {class: controller.controller_name == "event_types" ? "active item" : "item"}) %></div>
                <div class="item"><%= link_to("Remarks", remarks_path, {class: controller.controller_name == "remarks" ? "active item" : "item"}) %></div>
                <div class="item"><%= link_to("Solutions", solutions_path, {class: controller.controller_name == "solutions" ? "active item" : "item"}) %></div>
              </div>
            </div>
          <% end %>

        <% end %>

        <div class="right menu">
          <% if user_signed_in? %>
            <%= link_to("Edit Account", edit_user_registration_path, class: controller.controller_name == "registrations" ? "active ui item" : "ui item") %>
            <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "ui item") %>
          <% else %>
            <%= link_to("Login", new_user_session_path, class: controller.controller_name == "sessions" ? "active ui item" : "ui item") %>
          <% end %>
        </div>

      </div>

      <p class="alert"><%= alert %></p>

      <%= yield %>

      <div class="ui divider"></div>
      <footer>
        <font color="grey">Copyright © 2017 DCT Academy</font>
        <div align="center">
          <a class="ui basic label" href="https://www.linkedin.com/in/shreyas707/" target="_blank">Designed and Maintained by Shreyas S</a><br/>
          <i class="mail icon"></i>Please email the bugs to <u>hello@shreyas.im</u>
        </div>
      </footer><br/><br/>

    </body>

  </div>

</html>
